@import '../../main.scss';


.cars-search-container{
    display: flex;
    align-items: center;
    width: 100%;
    box-shadow: $general-shadow;
    background-color: $background-blue;
    padding:15px;
    border-radius: 15px;
}



.cars-search-input{
    padding: 10px 10px;
    width: 300px;
    border-radius: 15px;
    box-shadow: $light-shadow;
    border: 5px solid rgb(168, 167, 167);
    border: none;
    color: rgb(100, 100, 100);
    &:focus{
        outline: none;
    }
}

.search-icon{
    position: relative;
    right:30px;
    color: grey;
}

.cars-search-select{
    border: none;
    background-color: $background-blue;
    color:grey;
    padding:7px;
}